<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Historical Weather Data API</h1>
    <h4>Temperature in date on station</h4>
    <p>URL format: http://127.0.0.1:5000/api/v1/station_STAID/date </p>
    <p>URL Example for one station for one date: http://127.0.0.1:5000/api/v1/10/19881025 </p>
    <br>
    <h4>All temperature measurements on station</h4>
    <p>URL format: http://127.0.0.1:5000/api/v1/station_STAID/ </p>
    <p>URL Example for one station: http://127.0.0.1:5000/api/v1/10 </p>
    <br>
    <h4>All temperature measurements on station in specific year</h4>
    <p>URL format: http://127.0.0.1:5000/api/v1/annual/station_STAID/year</p>
    <p>URL Example for one station for one year: http://127.0.0.1:5000/api/v1/annual/10/1992 </p>
    <br>
    <h4>Chart of temperature measurements on station in specific year</h4>
    <p>URL format: http://127.0.0.1:5000/visualization/station_STAID/year</p>
    <p>URL Example for one station for one year: http://127.0.0.1:5000/visualization/10/1992 </p>
    <br>
    <h4>List of stations</h4>
    <p>{{ data|safe }}</p>
</body>
</html>