<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/station/date </p>
    <p>URL Example for one station for one date: http://127.0.0.1:5000/api/v1/10/19881025 </p>
    <br>
    <p>URL format: http://127.0.0.1:5000/api/v1/station/ </p
    <p>URL Example for one station: http://127.0.0.1:5000/api/v1/10 </p>
    <br>
    <p>URL format: http://127.0.0.1:5000/api/v1/annual/station/year</p>
    <p>URL Example for one station for one year: http://127.0.0.1:5000/api/v1/annual/10/1992 </p>
    <p>{{ data|safe }}</p>
</body>
</html>